/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* For Fixed Nav Bar */
  padding-top: 70px;
  /* Margin bottom by footer height */
  margin-bottom: 80px;
}
/* ----------------------------------------------- */
