---
layout: default
---

<div class="row">
  
  <div class="col-md-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="text-primary">{{ page.title }}</h2>
                <span class="text-muted">Posted on {{ page.date | date: "%B %-d, %Y" }}</span>
            </div>
            <div class="panel-body">
                {{ content }}
            </div>
		<div class="panel-footer">
                <ul class="pager blog-pager">
                    {% if page.previous.url %}
                    <li class="previous">
                        <a href="{{ page.previous.url | prepend: site.url }}" data-toggle="tooltip" data-placement="top" title="{{page.previous.title}}"><i class="fa fa-arrow-left"></i> Previous Post</a>
                    </li>
                    {% endif %} {% if page.next.url %}
                    <li class="next">
                        <a href="{{ page.next.url | prepend: site.url }}" data-toggle="tooltip" data-placement="top" title="{{page.next.title}}">Next Post <i class="fa fa-arrow-right"></i></a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>

                {% if page.comments %}
	  <div class="panel panel-default">
              <div class="panel-body">
<div id="disqus_thread"></div>
<script>
    /**
     *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT 
     *  THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR 
     *  PLATFORM OR CMS.
     *  
     *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: 
     *  https://disqus.com/admin/universalcode/#configuration-variables
     */
    var disqus_config = function () {
        // Replace PAGE_URL with your page's canonical URL variable
        this.page.url = {{ page.url | prepend: site.url }};  
        
        // Replace PAGE_IDENTIFIER with your page's unique identifier variable
        this.page.identifier = {{ page.id }}; 
    };
    
    (function() {  // REQUIRED CONFIGURATION VARIABLE: EDIT THE SHORTNAME BELOW
        var d = document, s = d.createElement('script');
        
        // IMPORTANT: Replace EXAMPLE with your forum shortname!
        s.src = 'https://{{ site.disqus_shortname }}.disqus.com/embed.js';
        
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
    })();
</script>
<noscript>
    Please enable JavaScript to view the 
    <a href="https://disqus.com/?ref_noscript" rel="nofollow">
        comments powered by Disqus.
    </a>
</noscript>
              </div>
      </div>
                {% endif %}

  </div>
  </div>

      <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <span class="text-primary"><b>Recent Posts</b></span>
            </div>
            <div class="panel-body">
                <ul>
                    {% for post in site.posts offset: 0 limit: 5  %}
                        <li>
                            <a href="{{ post.url | prepend: site.url }}">{{ post.title }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
	              <div class="panel panel-default">
            <div class="panel-heading">
                <span class="text-primary"><b>Blog Categories</b></span>
            </div>
            <div class="panel-body">
                <div class="panel-group" id="accordion">
                    {% for category in site.categories %}
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" name="{{ category | first }}" 
                                   href="#{{ category | first }}">
                                    {{ category | first }}
                                </a>
                            </h4>
                        </div>
                        
                        {% if forloop.index == 1 %}
                        <div id="{{ category | first }}" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <ul>
                                    {% for posts in category %} {% for post in posts %}
                                    {% if post.url %} 
                                    <li><a href="{{ post.url | prepend: site.url }}">{{ post.title }}</a></li>
                                    {% endif %}
                                    {% endfor %} {% endfor %}
                                </ul>
                            </div>
                        </div>
                        {% else %}
                        <div id="{{ category | first }}" class="panel-collapse collapse">
                            <div class="panel-body">
                                <ul>
                                    {% for posts in category %} {% for post in posts %}
                                    {% if post.url %}
                                    <li><a href="{{ post.url | prepend: site.url }}">{{ post.title }}</a></li>
                                    {% endif %}
                                    {% endfor %} {% endfor %}
                                </ul>
                            </div>
                        </div>
                        {% endif %}                       
                        
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
</div>
    </div>
