---
layout: default
---

<div class="row">
  
  <div class="col-md-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="text-primary">{{ page.title }}</h2>
                <span class="text-muted">Posted on {{ page.date | date: "%B %-d, %Y" }}</span>
            </div>
            <div class="panel-body">
                {{ content }}
            </div>
		<div class="panel-footer">
                <ul class="pager blog-pager">
                    {% if page.previous.url %}
                    <li class="previous">
                        <a href="{{ page.previous.url | prepend: site.baseurl }}" data-toggle="tooltip" data-placement="top" title="{{page.previous.title}}"><i class="fa fa-arrow-left"></i> Previous Post</a>
                    </li>
                    {% endif %} {% if page.next.url %}
                    <li class="next">
                        <a href="{{ page.next.url | prepend: site.baseurl }}" data-toggle="tooltip" data-placement="top" title="{{page.next.title}}">Next Post <i class="fa fa-arrow-right"></i></a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>

                {% include disqus.html %}

  </div>

      <div class="col-md-4">
	      
	{% include recent.html %}
	      
	{% include categories.html %}

	</div>
    </div>
